---
import Main from '../layouts/main.astro';
import Dashboard from '../layouts/dashboard';

import { contentfulClient } from '../lib/contentful';

import { findMaxValue } from '../utils/find-max-value';
import { createTagCounts } from '../utils/create-tag-counts';
import { createLineChartPoints } from '../utils/create-line-chart-points';
import { createChartDates } from '../utils/create-chart-dates';
import { createChartValues } from '../utils/create-chart-values';
import { createXAxis } from '../utils/create-x-axis';
import { createYAxis } from '../utils/create-y-axis';
import { createChartGuides } from '../utils/create-chart-guides';

import { materialColorsFlat } from '../utils/material-colors';

const tags = await contentfulClient.getEntries({
  content_type: 'blogPost',
});

const tagCounts = createTagCounts(tags.items);
const maxValue = findMaxValue(tagCounts);
const guides = [...Array(8).keys()];

const chartWidth = 1920;
const chartHeight = 1080;
const paddingL = 120;
const paddingR = 70;
const paddingTop = 220;
const paddingBottom = 180;

const chartData = tagCounts
  .map((data, index) => {
    const { name, total } = data;

    return {
      id: name.replace(/[^\w\d]/g, '-').toLowerCase(),
      name: name,
      total: total,
      color: materialColorsFlat[index],
      points: createLineChartPoints(
        data.years,
        chartWidth,
        chartHeight,
        maxValue,
        paddingL,
        paddingR,
        paddingTop,
        paddingBottom
      ).toString(),
    };
  })
  .sort((a, b) => b.total - a.total);

const dateRange = createChartDates(tagCounts[0].years);
const dateStart = dateRange[0];
const dateEnd = dateRange[dateRange.length - 1];
const chartXAxis = createXAxis(dateRange, chartWidth, chartHeight, paddingL, paddingR, 120);
const chartYAxis = createYAxis(createChartValues(0, maxValue), chartHeight, 60, paddingTop, paddingBottom);
const chartGuides = createChartGuides(guides, chartWidth, chartHeight, paddingL, paddingR, paddingTop, paddingBottom);
---

<Main>
  <Dashboard
    dateStart={dateStart}
    dateEnd={dateEnd}
    paddingL={paddingL}
    paddingR={paddingR}
    chartData={chartData}
    chartWidth={chartWidth}
    chartHeight={chartHeight}
    chartXAxis={chartXAxis}
    chartYAxis={chartYAxis}
    chartGuides={chartGuides}
  />
</Main>
